.account-form.password-reset-form
    .account-form__item
        .account-form__header Password reset
        .account-form__item-wrap
            form.account-form__form([formGroup]="securityForm", (submit)="updatePassword()")
                .wform__item
                    .row
                        .col-10.col-sm-4.text-sm-right
                            label.account-form__item-label.ml-2.ml-sm-0 Change your password
                .wform__item
                    .row
                        .col-10.col-sm-4.text-sm-right
                            label.wform__label.wform__label--inline.ml-2.ml-sm-0 New Password
                        .col-10.col-sm-6.col-offset-1.col-sm-offset-0
                            input.wform__input.ml-2.ml-sm-0(type="password", formControlName="new_password")
                .wform__item
                    .row
                        .col-10.col-sm-4.text-sm-right
                            label.wform__label.wform__label--inline.ml-2.ml-sm-0 Confirm New Password
                        .col-10.col-sm-6.col-offset-1.col-sm-offset-0
                            input.wform__input.ml-2.ml-sm-0(type="password", formControlName="repeat_password")
                .wform__item
                    .row
                        .col-4.text-right

                        .col-xs-4.col-sm-4.col-md-2.col-lg-2
                            button.wbtn.wbtn--small.wbtn--blue(type="submit") Reset
