{% extends "shablon.html" %}


{% block content %}
    <p><input type="button" onclick="history.back();"  class="btn btn-outline-dark btn-sm" value="Назад"/></p>
<hr>
<h1 align="center">Список авторов</h1>

<p> <a href="{% url 'create_author' %}">Добавить</a></p>

<table>
   {% for val_author in object_list  %}
<tr>
    <td><p>{{val_author.name}} </p></td>
    <td><p>{{val_author.description}}</p></td>
    <td width="100px"></td>
    <td><p><a href="{% url 'detail_author' val_author.pk %}"> Просмотреть </a> </p></td>
    <td><p><a href="{% url 'update_author' val_author.pk %}"> Редактировать</a> </p></td>
    <td><p><a href="{% url 'delete_author' val_author.pk %}"> Удалить </a> </p></td>
</tr>
{% endfor %}
</table>
{% endblock %}
