.page__meta
    .page__meta-item
        .breadcrumb
            .breadcrumb__item
                a.breadcrumb__inner-item.active([routerLink]="['/account']") Account
            .breadcrumb__item
                span.breadcrumb__inner-item >
                    //i.fa.fa-long-arrow-right
                span.breadcrumb__inner-item.active Wish List


    .page__meta-item.page__meta-item--colored
        .row
            .col-4
                .page__meta-title Wish List
            .col-8
                ul.pagination__list(*ngIf="pager.pages && pager.pages.length")
                    li.pagination__item([ngClass]="{disabled:pager.currentPage === 1}", (click)="setPage(1)") First
                    li.pagination__item([ngClass]="{disabled:pager.currentPage === 1}", (click)="setPage(pager.currentPage - 1)") Previous
                    li.pagination__item(*ngFor="let page of pager.pages", [ngClass]="{active:pager.currentPage === page}", (click)="setPage(page)") {{page}}
                    li.pagination__item([ngClass]="{disabled:pager.currentPage === pager.totalPages}", (click)="setPage(pager.currentPage + 1)") Next
                    li.pagination__item([ngClass]="{disabled:pager.currentPage === pager.totalPages}", (click)="setPage(pager.totalPages)") Last
div
    preloader-component([showStatus]="preloader")
    ngb-alert(type="info",*ngIf="adverts.length < 1", [dismissible]="false") You do not have any machines in your wish list
    .row(*ngIf="adverts.length > 0")
        .col-12.col-xs-12.col-sm-12.col-md-6.col-lg-6(*ngFor="let advert of adverts")
            .advert__list-item
                .advert-preview
                    .advert-preview__ctrl
                        doctype html
                        ng-template(#deletePopover)
                            .advert-info-item Remove
                        .advert-preview__ctrl-item([swal]="{title: 'Are you sure you want to remove this machine from your wish list?', confirmButtonColor: 'green', cancelButtonClass:'btn btn-danger', cancelButtonColor: '#d33', showCancelButton: true, buttonsStyling: true, reverseButtons: true}",
                        (confirm)="deleteFromWishList(user.id,advert)")
                            button.ibtn.ibtn--red([ngbPopover]='deletePopover', triggers="mouseenter:mouseleave", placement="top")
                                i.fa.fa-times
                    .advert-preview__img-wrap
                        a([routerLink]="['/adverts', advert.id]")
                            .advert-preview__urgent(*ngIf="advert.urgent") Urgent
                            img.advert-preview__img(*ngIf="advert.main_image?.url",[src]="advert.main_image?.url")
                            .no-image(*ngIf="!advert.main_image?.url")
                                .no-image__wrap
                                    .no-image__img-wrap
                                        img.no-image__img([src]="'../../../assets/img/logo_new2.png'")
                                    span.no-image__text No image available
                    .advert-preview__content
                        .advert-preview__title([routerLink]="['/adverts', advert.id]") {{advert?.machine_name}}
                        .advert-preview__price(*ngIf="advert?.price")
                            .row
                                .col-md-12
                                    span.price {{ currencyService.getCurrency() | currencySymbol }}{{advert.euros | converterCurrency | number }} {{ currencyService.getCurrency()}}
                                    span.terms ({{ advert?.terms }})
                        .advert-preview__price(*ngIf="!advert?.price")
                            .row
                                .col-md-12
                                    span.price Price on request
                                    span.terms ({{advert?.terms }})
                        .advert-preview__desc(*ngIf="advert?.short_description") {{advert?.short_description}}
                        .advert-preview__meta
                            .row
                                .col-6.text-left
                                    stars-component([rating]="advert?.condition", [color]="'star--blue'")
                                .col-6.text-right
                                    .advert-preview__location {{advert?.location}}

                    .advert-preview__btn(*ngIf="advert?.owner != userService.currentUser?.id && userService.currentUser")
                        button.wbtn.wbtn--blue.wbtn--small((click)="modalService.openContactSellerModal(userService.currentUser?.id, advert?.owner, advert.id)") Contact Seller
.pagination
    ul.pagination__list(*ngIf="pager.pages && pager.pages.length")
        li.pagination__item([ngClass]="{disabled:pager.currentPage === 1}", (click)="setPage(1)") First


        li.pagination__item([ngClass]="{disabled:pager.currentPage === 1}", (click)="setPage(pager.currentPage - 1)") Previous

        li.pagination__item(*ngFor="let page of pager.pages", [ngClass]="{active:pager.currentPage === page}", (click)="setPage(page)") {{page}}

        li.pagination__item([ngClass]="{disabled:pager.currentPage === pager.totalPages}", (click)="setPage(pager.currentPage + 1)") Next

        li.pagination__item([ngClass]="{disabled:pager.currentPage === pager.totalPages}", (click)="setPage(pager.totalPages)") Last

