.page__meta
    .page__meta-item
        .breadcrumb
            .breadcrumb__item
                a.breadcrumb__inner-item.active([routerLink]="['/']") Account
            .breadcrumb__item
                span.breadcrumb__inner-item >
                    //i.fa.fa-long-arrow-right
                span.breadcrumb__inner-item.active Invoices


    .page__meta-item.page__meta-item--colored
        .row
            .col-4
                .page__meta-title Invoices
            .col-8
                ul.pagination__list(*ngIf="pager.pages && pager.pages.length")
                    li.pagination__item([ngClass]="{disabled:pager.currentPage === 1}", (click)="setPage(1)") First
                    li.pagination__item([ngClass]="{disabled:pager.currentPage === 1}", (click)="setPage(pager.currentPage - 1)") Previous
                    li.pagination__item(*ngFor="let page of pager.pages", [ngClass]="{active:pager.currentPage === page}", (click)="setPage(page)") {{page}}
                    li.pagination__item([ngClass]="{disabled:pager.currentPage === pager.totalPages}", (click)="setPage(pager.currentPage + 1)") Next
                    li.pagination__item([ngClass]="{disabled:pager.currentPage === pager.totalPages}", (click)="setPage(pager.totalPages)") Last

.alerts-table
    preloader-component([showStatus]="preloader")
    ngb-alert(type="info",*ngIf="invoices?.length < 1", [dismissible]="false") You do not have any invoices
    table.wtable(*ngIf="invoices?.length > 0")
        thead.wtable__head
            tr.wtable__row.text-center
                th.wtable__th.d-none.d-sm-table-cell Number
                th.wtable__th Advert
                th.wtable__th Date
                th.wtable__th Amount
                th.wtable__th
        tbody.wtable__body
            tr.wtable__row(*ngFor="let invoice of invoices")
                td.wtable__sell.d-none.d-sm-table-cell {{invoice?.id}}
                td.wtable__sell {{invoice?.advert_name}}
                td.wtable__sell {{ invoice?.paid_date | date_format:'DD/MM/YYYY HH:mm' }}
                td.wtable__sell {{ user?.currency | currencySymbol}}{{invoice?.amount | number:'1.2-2' }}
                td.wtable__sell
                    i.fa.fa-file-pdf-o((click)="openPDF(invoice.id)")

.pagination
    ul.pagination__list(*ngIf="pager.pages && pager.pages?.length")
        li.pagination__item([ngClass]="{disabled:pager.currentPage === 1}", (click)="setPage(1)") First
        li.pagination__item([ngClass]="{disabled:pager.currentPage === 1}", (click)="setPage(pager.currentPage - 1)") Previous
        li.pagination__item(*ngFor="let page of pager.pages", [ngClass]="{active:pager.currentPage === page}", (click)="setPage(page)") {{page}}
        li.pagination__item([ngClass]="{disabled:pager.currentPage === pager.totalPages}", (click)="setPage(pager.currentPage + 1)") Next
        li.pagination__item([ngClass]="{disabled:pager.currentPage === pager.totalPages}", (click)="setPage(pager.totalPages)") Last

