.page__meta
    .page__meta-item
        .breadcrumb
            .breadcrumb__item
                a.breadcrumb__inner-item.active([routerLink]="['account']") Account
            .breadcrumb__item
                span.breadcrumb__inner-item >
                    //i.fa.fa-long-arrow-right
                span.breadcrumb__inner-item.active My Listings


    .page__meta-item.page__meta-item--colored
        .row
            .col-4
                .page__meta-title Machines Listed ({{ adverts.length }})
                //button() Delete

            .col-8
                ul.pagination__list(*ngIf="pager.pages && pager.pages.length")
                    li.pagination__item([ngClass]="{disabled:pager.currentPage === 1}", (click)="setPage(1)") First
                    li.pagination__item([ngClass]="{disabled:pager.currentPage === 1}", (click)="setPage(pager.currentPage - 1)") Previous
                    li.pagination__item(*ngFor="let page of pager.pages", [ngClass]="{active:pager.currentPage === page}", (click)="setPage(page)") {{page}}
                    li.pagination__item([ngClass]="{disabled:pager.currentPage === pager.totalPages}", (click)="setPage(pager.currentPage + 1)") Next
                    li.pagination__item([ngClass]="{disabled:pager.currentPage === pager.totalPages}", (click)="setPage(pager.totalPages)") Last
div
    preloader-component([showStatus]="preloader")
    ngb-alert(type="danger",*ngIf="error", [dismissible]="false") You do not have permissions to create adverts
    ngb-alert(type="info",*ngIf="adverts.length < 1", [dismissible]="false") You do not have any listings
    .row(*ngIf="adverts.length > 0")
        .col-12.col-xs-12.col-sm-12.col-md-6.col-lg-6(*ngFor="let advert of adverts")
            .advert__list-item
                .advert-preview([ngClass]="{'advert-preview--urgent': advert.urgent, 'advert-preview--spotlight': advert.spotlight}")
                    .advert-preview__ctrl
                        .advert-preview__ctrl-item
                            doctype html
                            ng-template(#infoPopover)
                                .advert-info-item(*ngIf='advert.featured') Featured, expires on: {{advert?.featured_end | date:'longDate'}}
                                .advert-info-item(*ngIf='advert.spotlight') Spotlight, expires on: {{advert?.spotlight_end | date:'longDate'}}
                                .advert-info-item(*ngIf='advert.urgent') Urgent, expires on: {{advert?.urgent_end | date:'longDate'}}
                                .advert-info-item(*ngIf='advert.newsletter') Newsletter, expires on: {{advert?.newsletter_end | date:'longDate'}}
                                .advert-info-item(*ngIf='!advert.newsletter && !advert.urgent && !advert.spotlight && !advert.featured') Standard listing
                            ng-template(#editPopover)
                                .advert-info-item Edit Advert
                            ng-template(#deletePopover)
                                .advert-info-item Delete Advert
                            button.ibtn.ibtn--orange([routerLink]="['/adverts', advert.id]", [ngbPopover]='infoPopover', triggers="mouseenter:mouseleave", placement="top")
                                i.fa.fa-info
                        .advert-preview__ctrl-item([routerLink]="['/account/my_listing', advert.id]")
                            button.ibtn.ibtn--green([ngbPopover]='editPopover', triggers="mouseenter:mouseleave", placement="top")
                                i.fa.fa-pencil
                        .advert-preview__ctrl-item([swal]="{title: 'Are you sure you want to delete this advert?', text: 'This cannot be undone.', confirmButtonColor: 'green', cancelButtonClass:'btn btn-danger', cancelButtonColor: '#d33', showCancelButton: true, buttonsStyling: true, reverseButtons: true}",
                        (confirm)="deleteAdvert(advert.id)")
                            button.ibtn.ibtn--red([ngbPopover]='deletePopover', triggers="mouseenter:mouseleave", placement="top")
                                i.fa.fa-times
                    .advert-preview__img-wrap
                        a([routerLink]="['/adverts', advert.id]")
                            .advert-preview__urgent(*ngIf="advert.urgent") Urgent
                            img.advert-preview__img(*ngIf="advert.main_image?.url",[src]="advert.main_image?.url")
                            .no-image(*ngIf="!advert.main_image?.url")
                                .no-image__wrap
                                    .no-image__img-wrap
                                        img.no-image__img([src]="'../../../assets/img/logo_new2.png'")
                                    span.no-image__text No image available
                    .advert-preview__content
                        .advert-preview__listings__title.text-left([routerLink]="['/adverts', advert.id]") {{advert?.machine_name}}
                        .row
                            .col-md-12
                                .advert-preview__price.text-left(*ngIf="advert.price")
                                    span.price(*ngIf="!currencyService.checkCurrency(advert)") {{ currencyService.getCurrency() | currencySymbol}}{{advert.euros | converterCurrency | number }} {{ currencyService.getCurrency() }}
                                    span.price(*ngIf="currencyService.checkCurrency(advert)") {{ currencyService.getCurrency() | currencySymbol}}{{ advert.price | number }} {{ currencyService.getCurrency() }}
                                    span.terms ({{advert?.terms}})
                                .advert-preview__price.text-left(*ngIf="!advert.price")
                                    span.price Price on request
                                    span.terms ({{advert?.terms}})
                        .row.advert-preview__meta
                            .col-md-6
                                stars-component([rating]="advert?.condition.rating", [color]="'star--blue'")
                            .col-md-6
                                .advert-price__detail-list
                                    .advert-preview__location.text-right {{advert?.location}}

                    .advert-preview__btn
                        button.wbtn.wbtn--green.wbtn--small((click)="openPagePayment(advert.id)")
                            i.fa.fa-star.mr-2
                            |Feature this Advert .
.pagination
    ul.pagination__list(*ngIf="pager.pages && pager.pages.length")
        li.pagination__item([ngClass]="{disabled:pager.currentPage === 1}", (click)="setPage(1)") First


        li.pagination__item([ngClass]="{disabled:pager.currentPage === 1}", (click)="setPage(pager.currentPage - 1)") Previous

        li.pagination__item(*ngFor="let page of pager.pages", [ngClass]="{active:pager.currentPage === page}", (click)="setPage(page)") {{page}}

        li.pagination__item([ngClass]="{disabled:pager.currentPage === pager.totalPages}", (click)="setPage(pager.currentPage + 1)") Next

        li.pagination__item([ngClass]="{disabled:pager.currentPage === pager.totalPages}", (click)="setPage(pager.totalPages)") Last

