hr.header_adverts_page
.page.page--advert
    .container
        .switcher-block
            .w50p.d-flex.justify-content-center.back-button.ml-2
                button.button_item_adverts( (click)="goBack()", [disabled]="!canPrevious").cbtn.cbtn--switch.py-1.px-4
                    i.fa.fa-angle-left.mr-2
                    | Previous item
            .w50p.d-flex.justify-content-center.next-button.mr-2
                button.button_item_adverts((click)="goNext()", [disabled]="!canNext" ).cbtn.cbtn--switch.py-1.px-4 назад
                button.button_item_adverts((click)="goNext()", [disabled]="!canNext" ).cbtn.cbtn--switch.py-1.px-4 Next item

                    i.fa.fa-angle-right.ml-2
        .page__meta-item
            .breadcrumb_adverts_page
                .breadcrumb__item_s
                    a.breadcrumb__inner-item.active_advert_page(style='font-size:14px;')([routerLink]="['/']") Home
                .breadcrumb__item_s
                    span.breadcrumb__inner-item >
                    a.breadcrumb__inner-item.active_advert_page(style='font-size:14px;')([routerLink]="['/adverts']") Search
                .breadcrumb__item_s(*ngFor="let category of advertCategories")
                    span.breadcrumb__inner-item >
                    a.breadcrumb__inner-item.active_advert_page(style='font-size:14px;')([routerLink]="['/adverts']", (click)="setSearchCategory(category)" ) {{category.name}}
                .breadcrumb__item_s
                    span.breadcrumb__inner-item >
                    span.breadcrumb__inner-item(style='font-size:14px;') {{advert?.machine_name}}
        hr(style='margin-top:4px;margin-bottom:0px;').header_adverts_page_s
        .row.advert__detail-block
            .col-12.col-md-8
                .page__header
                    .page__title
                        .row
                            .col-8.bold(style='font-family:Montserrat-Bold;') {{advert?.machine_name}}
                            .col-4(*ngIf="advert?.price")
                                .text-right.machine__price-request(*ngIf="!(currencyService.checkCurrency(advert))") {{ currencyService.getCurrency() | currencySymbol }}{{advert?.euros | converterCurrency | number }} {{ currencyService.getCurrency() }}
                                .text-right.machine__price-request(*ngIf="currencyService.checkCurrency(advert)") {{ currencyService.getCurrency() | currencySymbol }}{{advert?.price | number }} {{ currencyService.getCurrency() }}
                            .col-4(*ngIf="!advert?.price")
                                .machine__price-request(*ngIf="!advert?.price") Price on request
                    .page__sub-title
                        span Item No. {{advert?.id}}
                        span.float-right(*ngIf="advert?.owner_ref") Sellers ref. {{advert?.owner_ref}}
                .page__item
                    .machine-main-image(*ngIf="mainImageUrl")
                        a.machine-main-image__lnk
                            ngx-gallery([options]="galleryOptions", [images]="galleryImages")
                            h3.gallery-text(style='font-family:Montserrat-Bold; color:#187cbe;font-size:25px')(*ngIf="advert?.images.length > 1") Gallery
                                span.count_gallety(style='font-family:Montserrat-Regular; color:#187cbe;font-size:18px;font-weight:100') ( {{ advert?.images.length }} photos )
                    .machine-main-image.machine-main-image--noimage(*ngIf="!mainImageUrl")
                        .machine-main-image__noimage
                            .machine-main-image__noimage-img
                                img([src]="'../../../assets/img/logo_new2.png'")
                            span No image available
                .page__item--m-gap(*ngIf="advert?.videos.length > 0",
                                            [ngClass]="{'mt-m35' : advert?.images.length > 1, 'page__item': advert?.images.length <= 1}")
                    h3.page__item-title.page__item-title--small-gap(style='font-family:Montserrat-Bold; color:#187cbe;font-size:25px') Video
                        span.count_video(style='font-family:Montserrat-Regular; color:#187cbe;font-size:18px; font-weight:100;') ( {{advert?.videos.length}} videos )
                    slider-listing(type="video-gallery", [listing]='advert?.videos')
                .item-description
                    .page__item-(style='font-family:Montserrat-Bold; color:#187cbe;font-size:25px') Item Description
                    .machine__spec
                        .machine-spec__item
                            .row
                                .col-12.extra-text.description-info
                                    div {{ advert?.details }}

                .page_item.mt-5.pt-2
                    .page__item-title(style='font-family:Montserrat-Bold; color:#187cbe;font-size:25px') Item Details
                    .machine__spec
                        .machine-spec__item(*ngIf="advert?.terms")
                            .row
                                .col-6.col-sm-4
                                    .machine-spec__label Shipping terms:
                                .col-6.col-sm-8
                                    .machine-spec__value {{ terms }}
                        .machine-spec__item(*ngIf="advert?.availability")
                            .row
                                .col-6.col-sm-4
                                    .machine-spec__label Availability:
                                .col-6.col-sm-8
                                    .machine-spec__value {{ advert?.availability }}
                        .machine-spec__item(*ngIf="advert?.location")
                            .row
                                .col-6.col-sm-4
                                    .machine-spec__label Location:
                                .col-6.col-sm-8
                                    .machine-spec__value {{ advert.location }}
                        .machine-spec__item(*ngIf="advert?.condition")
                            .row
                                .col-6.col-sm-4
                                    .machine-spec__label Condition:
                                .col-6.col-sm-8
                                    .machine-spec__value
                                        stars-component([rating]="advert?.condition.rating", [color]="'star--blue'").mr-1
                                        | ({{advert?.condition.name}})
                        .machine-spec__item(*ngIf="advert?.advert_type")
                            .row
                                .col-6.col-sm-4
                                    .machine-spec__label Status:
                                .col-6.col-sm-8
                                    .machine-spec__value {{ getAdvertType() }}
                        .machine-spec__item(*ngIf="advert?.serial")
                            .row
                                .col-6.col-sm-4
                                    .machine-spec__label Machine number:
                                .col-6.col-sm-8
                                    .machine-spec__value {{ advert?.serial }}
                        .machine-spec__item
                            .row
                                .col-6.col-sm-4
                                    .machine-spec__label Production count:
                                .col-6.col-sm-8
                                    .machine-spec__value {{ advert?.production_count || "Not specified" }}
                        .machine-spec__item
                            .row
                                .col-6.col-sm-4
                                    .machine-spec__label Year of manufacture:
                                .col-6.col-sm-8
                                    .machine-spec__value(*ngIf="advert?.year") {{advert?.year}}
                                    .machine-spec__value(*ngIf="!advert?.year") Not specified
                        .machine-spec__item(*ngIf="advert?.operation")
                            .row
                                .col-6.col-sm-4
                                    .machine-spec__label In production:
                                .col-6.col-sm-8
                                    .machine-spec__value
                                        span(*ngIf="advert?.operation == 1") Yes
                                        span(*ngIf="advert?.operation == 0") No

                .page__item
                    .page__item-title(style='font-family:Montserrat-Bold; color:#187cbe;font-size:25px') Item Specification
                    .machine__spec
                        .item-specific(*ngIf="advert?.machine?.specifications")
                            .row(*ngFor="let spec of advert?.machine?.specifications")
                                .col-6.col-sm-4
                                    .machine-spec__label {{spec.name}}:
                                .col-6.col-sm-8
                                    .machine-spec__value {{spec.val}}
                .page__item(*ngIf="advert?.private_notes && advert?.owner?.id == userService?.currentUser?.id")
                    .page__item-title Private notes
                    .machine__spec
                        .machine-spec__item
                            .row
                                .text-decorated.private-notes {{ advert?.private_notes }}
                .page__item
                    h3.page__item-title(*ngIf="reviews?.length == 0")(style='font-family:Montserrat-Bold; color:#187cbe;font-size:25px') Item Reviews
                    h3.page__item-title(*ngIf="reviews?.length > 0")(style='font-family:Montserrat-Bold; color:#187cbe;font-size:25px') Item Reviews
                        span.count_video(style='font-family:Montserrat-Regular; color:#187cbe;font-size:25px;margin-left:5px; font-weight:500;') ({{reviews?.length}} Reviews)
                    .reviews(*ngIf="reviews?.length > 0")
                        .reviews__item(*ngFor="let review of reviews")
                            .review
                                .review-avatar-block
                                    .review__header-item
                                        .review__avatar
                                            img.review__avatar-img([src]="review?.owner?.photo_thumb", data-avatar)
                                .review-info-block
                                    .review__header-item
                                        .review__combined
                                            .review__name {{review?.owner?.public_name}}
                                            .review__rating
                                                stars-component([rating]="review?.rating", [color]="'star--orange'")

                                    .review__header-item
                                        .review__meta
                                            img([src]="'/assets/img/location-marker.png'").review__meta-icon
                                            | {{review?.owner?.location}}
                                    .review__header-item
                                        .review__meta
                                            img([src]="'/assets/img/clock.png'").review__meta-icon
                                            | {{formatDate(review?.created_at)}}
                                    .review__content {{review?.review}}
                    .reviews.review-not-added
                        .reviews__ctrl(*ngIf="userService.currentUser?.id")
                            span.reviews__ctrl-label(*ngIf="reviews?.length == 0") Be the first to
                            span.reviews__ctrl-lnk(*ngIf="reviews?.length == 0", (click)="openReviewModal(userService.currentUser?.id)") write a review
                            span.reviews__ctrl-lnk(*ngIf="reviews?.length != 0", (click)="openReviewModal(userService.currentUser?.id)") write a review

                        .reviews__ctrl(*ngIf="!userService.currentUser?.id")
                            span.reviews__ctrl-label You need to
                            span.reviews__ctrl-lnk((click)="modalService.openSignInModal()") sign in
                            span.reviews__ctrl-label before you can write a review

            .col-12.col-md-4.seller-bar__main
                .seller-bar
                    .seller-bar__content
                        .row.filled-row
                            .col-12
                                .seller-bar__item(*ngIf="userService.currentUser && userService.currentUser?.id !== advert?.owner?.id")
                                    .seller-bar__btn-wrap
                                        .seller-bar__btn-item
                                            button(style='font-weight:bold;').wbtn.wbtn--blue((click)="modalService.openContactSellerModal(userService.currentUser?.id, advert?.owner?.id, advertId, null, advert?.machine_name)")
                                                i.fa.fa-envelope.mr-10
                                                | Contact Seller
                                        .seller-bar__btn-item
                                            button(style='font-weight:bold;').wbtn.btn-outline-success(*ngIf="userService.currentUser && advert?.users_wishes.indexOf(userService.currentUser?.id) > -1", (click)="addToWishList(userService.currentUser?.id,advert, 'remove')")
                                                i.fa.fa-heart-o.mr-10
                                                | Remove from Wish List
                                            button(style='font-weight:bold;').wbtn.btn-outline-success(*ngIf="userService.currentUser && advert?.users_wishes.indexOf(userService.currentUser?.id) == -1", (click)="addToWishList(userService.currentUser?.id,advert)")
                                                i.fa.fa-heart-o.mr-10
                                                | Add to Wish List
                                        .seller-bar__btn-item
                                            button(style='font-weight:bold;').wbtn.btn-outline-warning((click)="createAlert()")
                                                i.fa.fa-bell-o.mr-10
                                                | Create Alert
                                .seller-bar__item
                                    .seller-bar__item-title.text-uppercase.text-center(style='font-family:Montserrat-Bold') About this seller
                                    .about-seller
                                        .about-seller__avatar(style='padding-right:0px;margin-left:20%')
                                            .about-seller__avatar-item
                                                .about-seller__ava
                                                    img.about-seller__ava-img([src]="advert?.owner?.photo_thumb", data-avatar)
                                            .about-seller__avatar-item
                                                .about-seller__name {{advert?.owner?.public_name}}
                                                .about-seller__stars
                                                    stars-component([rating]="advert?.owner?.rating", [color]="'star--orange'")
                                                .about-seller_total__reviews ({{advert?.owner?.total_reviews}}) reviews
                                                div(*ngIf="userService.currentUser")
                                                    .about-seller__review(*ngIf="userService.currentUser.id != advert?.owner?.id && userCanLeaveReview", (click)="modalService.openCreateSellerReviewModal(advert?.owner?.id, userService.currentUser?.id); userCanLeaveReview=false;")
                                                        span.reviews__ctrl-lnk + Add review
                                                .about-seller__review
                                                    span.reviews__ctrl-lnk(*ngIf="userService.currentUser", (click)="modalService.openOnwerReviewModal(advert?.owner?.id, commonService.getOwnerName(advert?.owner))") Read reviews
                                                .about-seller__reviews
                                        .about-seller__contact
                                            .about-seller__contact-item(style='margin:0%; width:100%')(*ngIf="advert?.owner?.date_joined")
                                                img([src]="'../../../assets/img/clock.png'")
                                                div
                                                    strong Joined:
                                                    span {{commonService.dateStringToDate(advert?.owner) | date:"dd MMMM y" }}
                                            .about-seller__contact-item(style='margin:0%; width:100%')(*ngIf="advert?.owner?.location")
                                                img([src]="'../../../assets/img/location-marker.png'")
                                                div
                                                    strong Location:
                                                    span {{advert?.owner?.location}}
                                            .about-seller__contact-item(style='margin:0% ; width:100%')(*ngIf="advert?.owner?.company_name")
                                                img([src]="'../../../assets/img/corporate.png'")
                                                div
                                                    strong Company name:
                                                    span {{advert?.owner?.company_name}}

                                            .about-seller__contact-item(style='width:100%;margin-left:0px;margin-top:0px;')
                                                img(style='margin-right:12px')([src]="'../../../assets/img/edit.png'")
                                                div
                                                    strong Description:
                                                        .about-seller__desc.text-left(style='') {{ advert?.owner?.company_description | truncate:[minCharsToTruncCompanyDesc] }}
                                                            span.reviews__ctrl-lnk(*ngIf="advert?.owner?.company_description && advert?.owner?.company_description.length > minCharsToTruncCompanyDesc", (click)='minCharsToTruncCompanyDesc = advert?.owner?.company_description.length') + Read more


                                                            span.reviews__ctrl-lnk(*ngIf="advert?.owner?.company_description && advert?.owner?.company_description.length == minCharsToTruncCompanyDesc", (click)='minCharsToTruncCompanyDesc = 350') Read less
                                        .seller-bar__btn-item
                                            button(style='font-weight:bold;').wbtn.wbtn--blue((click)="makeUserSearch()") Sellers Listings
                            .col-12
                                .seller-bar__item
                                    .seller-bar__item-title.text-uppercase.text-center(style='font-family:Montserrat-Bold') Share this listing
                                    .social-share
                                        ul.social-share__list.list-unstyled.text-center
                                            li.social-share__item(*ngIf="fbButton")
                                                share-button(class="facebook", [button]="fbButton", title="Facebook")
                                                //a.social-share__lnk(href="")
                                                //    i.fa.fa-facebook.social-share__icon
                                            li.social-share__item(*ngIf="twButton", title="Twitter")
                                                share-button(class="twitter", [button]="twButton")
                                                //a.social-share__lnk(href="")
                                                //    i.fa.fa-twitter.social-share__icon
                                            li.social-share__item(*ngIf="ldnButton", title="Linkedin")
                                                share-button(class="linkedin", [button]="ldnButton")
                                            li.social-share__item(title="Mail")
                                                a(href="mailto:?&subject=Advert:{{advert?.machine_name}}&body=")
                                                    .s-button
                                                        button
                                                            .sb-template
                                                                i.fa.fa-envelope.social-share__icon
                                            li.social-share__item(title="Print")
                                                a(href="mailto:?&subject=Advert:{{advert?.machine_name}}&body=")
                                                    .s-button
                                                        button((click)='printAdvert()')
                                                            .sb-template
                                                                i.fa.fa-print.social-share__icon
                                .seller-bar__item
                                    .seller-bar__item-title.text-uppercase.text-center(style='font-family:Montserrat-Bold') Listing Location
                                    .static-map
                                        img((click)="openMap(content)", src="https://maps.googleapis.com/maps/api/staticmap?center={{advert?.location}}&zoom=3&markers=size:mid%7Ccolor:0xff0000%7C%7C{{advert?.location}}&size=260x300&maptype=roadmap &markers=color:blue%7Clabel:S%7C40.702147,-74.015794&key=AIzaSyDhvwvdb8YlulIQvfqYH04cTuaPLwnoqp8" alt="" class="static-map__img")
        .row
            .col-md-12
                div
                .page__item(*ngIf="relatedAdverts?.length > 0")
                    h3.page__item-title(style='font-family:Montserrat-Bold; color:#187cbe;font-size:25px') Similar Listings
                    slider-listing(type="advert-full", [listing]="relatedAdverts")
                .page__item(*ngIf="recentlyViewedAdverts?.length > 0")
                    h3.page__item-title(style='font-family:Montserrat-Bold; color:#187cbe;font-size:25px') Recently Viewed Items
                    slider-listing(type="advert-full", [listing]="recentlyViewedAdverts")
    doctype html
    ng-template(#content, let-c="close", let-d="dismiss")
        .modal-body
                .static-map
                    img((click)="openMap(content)", src="https://maps.googleapis.com/maps/api/staticmap?center={{advert?.location}}&zoom=4&markers=size:mid%7Ccolor:0xff0000%7C%7C{{advert?.location}}&size=500x330&scale=2&maptype=roadmap &markers=color:blue%7Clabel:S%7C40.702147,-74.015794&key=AIzaSyDhvwvdb8YlulIQvfqYH04cTuaPLwnoqp8" alt="" class="static-map__img")