<!DOCTYPE html>
<html lang="en">
<head>
   {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static "css/style.css" %}" />
    <meta charset="UTF-8">
    <title>Главная</title>
    <style>
    .myfield {
    border:1px solid #ccc;
    border-radius:5px;
    height:25px;
    width:200px;
    margin: 10px 10px 10px 0;
    }
    p {
    margin:15px;
    }

    .my_table{
     border:1px solid #ccc;
    }
    </style>
</head>
<body>

<ul class="navbar-nav mr-auto">
      <li class="nav-item {% if active == 'reference' %} active {% endif %}">
          <a class="nav-link" href="{% url 'reference-list' %}">Справочники</a>
      </li>


<hr>


{% if  request.user.is_authenticated %}
    <table><tr align="right">
        <td >
           <p> Добро пожаловать - {{ request.user.username }}</p>
        </td>
        <td>

         <a href="{% url 'out' %}"><button class="btn btn-success btn-lg"> Выйти </button></a>
                  <a href="{% url 'admin_panel' %}" class="btn btn-warning btn-lg">Админ панель</a>
        </td>
    </tr>
</table>
{% else %}
  <table  width="100%" cellpadding="1">
   <tr>
    <td align="right">
        <a href="{% url 'auth' %}" class="btn btn-success btn-lg">Войти</a>
         <a href="{% url 'reg' %}" class="btn btn-warning btn-lg">Регистрация</a>
    </td>
   </tr>
 </table>
{% endif %}

<hr>


<div class="jumbotron">
  <div class="container">
    <h1>Главная</h1>
      <a href="{% url 'proba'%}" class="btn btn-success btn-lg">Главная страница</a>
    <a href="{% url 'about_site'%}" class="btn btn-success btn-lg">О нас </a>
        <a href="{% url 'delivery'%}" class="btn btn-success btn-lg">Доставка </a>

  </div>
</div>




</body>
</html>
</body>
</html>