<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<p> Вы успешно зарегестрированы. Можете войти на сайт</p>
<a href="{% url 'auth' %}">Войти</a>
<a href=" {%  url 'my_index' %}"> На главную </a>
</body>
</html>