{% extends "shablon.html" %}


{% block content %}
    <p><input type="button" onclick="history.back();"  class="btn btn-outline-dark btn-sm" value="Назад"/></p>
<hr>
<h1 align="center">Список жанров</h1>

<p> <a href="{% url 'create_ganre' %}">Добавить</a></p>

<table>
   {% for val_ganre in object_list  %}
<tr>
    <td><p>{{val_ganre.name}} </p></td>
    <td><p>{{val_ganre.description}}</p></td>
    <td width="100px"></td>
    <td><p><a href="{% url 'detail_ganre' val_ganre.pk %}"> Просмотреть </a> </p></td>
    <td><p><a href="{% url 'update_ganre' val_ganre.pk %}"> Редактировать</a> </p></td>
    <td><p><a href="{% url 'delete_ganre' val_ganre.pk %}"> Удалить </a> </p></td>
</tr>
{% endfor %}
</table>
{% endblock %}
