.progress-br
    .progress-br__line-wrap
        .progress-br__line([ngClass]="{'progress-br__line--step1': currentStep===1, 'progress-br__line--step2': currentStep===2, 'progress-br__line--step3': currentStep===3, 'progress-br__line--step4': currentStep===4 }")
        .progress-br__step.progress-br__step--1.active 1
        .progress-br__label.progress-br__label--step1 Add details
        .progress-br__step.progress-br__step--2([ngClass]="{'active': currentStep>=2}") 2
        .progress-br__label.progress-br__label--step2 Upload photos
        .progress-br__step.progress-br__step--3([ngClass]="{'active': currentStep>=3}") 3
        .progress-br__label.progress-br__label--step3 Pricing
        .progress-br__step.progress-br__step--4([ngClass]="{'active': currentStep>=4}") 4
        .progress-br__label.progress-br__label--step4 Complete


.row
    preloader-component([showStatus]="preloader")
    .col-md-12
        .row(*ngIf="currentStep===1")
            .wform.wform--bg
                .wform__wrap
                    .wform__title(*ngIf="!edit")
                        .row
                            .col-12 Hi {{userService.currentUser?.first_name}}
                                br
                                | Let's start creating your listing.
                    .wform__title(*ngIf="edit")
                        .row
                            .col-12 Hi {{userService.currentUser?.first_name}}
                                br
                                | Let's edit your listing.
                    .wform__form-wrap
                        form([formGroup]="stepOneForm", (submit)="stepOneSubmit()")
                            .wform__item
                                .row
                                    .col-md-6
                                        label.wform__label Firstly, please select a manufacturer below:
                                        div.alert.alert-danger(*ngIf="!stepOneForm.controls['manufacturer_id'].valid && showError")
                                            i.fa.fa-exclamation-triangle.mr-2
                                            | This information is required!
                                        select.wform__input([formControl]="stepOneForm.controls['manufacturer_id']", (change)="loadMachineModels()", [(ngModel)]="advert.manufacturer_id", [ngClass]="{error_outline:!stepOneForm.controls['manufacturer_id'].valid && showError}", required)
                                            option(*ngFor="let manufacture of manufactures", [ngValue]="manufacture.id") {{manufacture.name}}
                                    .col-md-6
                                        .tooltip-description
                                            i
                                            p If you are unable to find the manufacturer or model that you need then please contact us here
                                            button(type="button",(click)="modalService.openNewManufacturerModal()") Make a suggestion

                            .wform__item
                                .row
                                    .col-md-6
                                        label.wform__label And now select a model:
                                        div.alert.alert-danger(*ngIf="!stepOneForm.controls['model_id'].valid && showError")
                                            i.fa.fa-exclamation-triangle.mr-2
                                            | This information is required!
                                        select.wform__input([formControl]="stepOneForm.controls['model_id']", [(ngModel)]="advert.model_id", [ngClass]="{error_outline:!stepOneForm.controls['model_id'].valid && showError}", required)
                                            option(*ngFor="let machineModel of machineModels", [ngValue]="machineModel.id") {{machineModel.name}}
                                    .col-md-6
                                        //.tooltip-description
                                            //i
                                            //p Again, if you can’t find the model you need, then please add a new one here
                                            //button(type="button",(click)="modalService.openNewModelModal()") Suggest New Model
                            .wform__item
                                .row
                                    .col-md-6
                                        label.wform__label Is it new or pre-owned?
                                        div.alert.alert-danger(*ngIf="!stepOneForm.controls['advert_type'].valid && showError")
                                            i.fa.fa-exclamation-triangle.mr-2
                                            | This information is required!
                                        select.wform__input([formControl]="stepOneForm.controls['advert_type']", [(ngModel)]="advert.advert_type" required, [ngClass]="{error_outline:!stepOneForm.controls['advert_type'].valid && showError}")
                                            option(*ngFor="let advertTypeChoice of advertTypeChoices", [ngValue]="advertTypeChoice.value") {{advertTypeChoice.title}}
                                    .col-md-6
                            .wform__item
                                .row
                                    .col-md-6
                                        label.wform__label How old is it?
                                        //div.alert.alert-danger(*ngIf="!stepOneForm.controls['year'].valid && showError")
                                        //    i.fa.fa-exclamation-triangle.mr-2
                                        //    | This information is required!
                                        select.wform__input([formControl]="stepOneForm.controls['year']", [(ngModel)]="advert.year")
                                            option(*ngFor="let year of years", [ngValue]="year") {{year}}
                                    .col-md-6
                                        .tooltip-description
                                            i
                                            p If you don’t know, just leave it blank.
                            .wform__item
                                .row
                                    .col-md-6
                                        label.wform__label What's the condition like?
                                        div.alert.alert-danger(*ngIf="!stepOneForm.controls['condition'].valid && showError")
                                            i.fa.fa-exclamation-triangle.mr-2
                                            | This information is required!
                                        select.wform__input([formControl]="stepOneForm.controls['condition']", [(ngModel)]="advert.condition" required, [ngClass]="{error_outline:!stepOneForm.controls['condition'].valid && showError}")
                                            option(*ngFor="let conditionChoice of conditionChoices", [ngValue]="conditionChoice.value") {{conditionChoice.value}}
                                    .col-md-6
                            .wform__item
                                .row
                                    .col-md-6
                                        label.wform__label Can it be seen in production?
                                        div.alert.alert-danger(*ngIf="!stepOneForm.controls['operation'].valid && showError")
                                            i.fa.fa-exclamation-triangle.mr-2
                                            | This information is required!
                                        select.wform__input([formControl]="stepOneForm.controls['operation']", [(ngModel)]="advert.operation", [ngClass]="{error_outline:!stepOneForm.controls['operation'].valid && showError}", required)
                                            option(*ngFor="let operationChoice of operationChoices", [ngValue]="operationChoice.value") {{operationChoice.title}}
                                    .col-md-6
                            .wform__item
                                .row
                                    .col-md-6
                                        label.wform__label Do you have the serial or machine number?
                                        input.wform__input(type="text", [formControl]="stepOneForm.controls['serial']", [(ngModel)]="advert.serial")
                                    .col-md-6
                                        .tooltip-description
                                            i
                                            p If you don’t know, just leave it blank.
                            .wform__item
                                .row
                                    .col-md-6
                                        label.wform__label Do you know the total production count?
                                        input.wform__input([formControl]="stepOneForm.controls['production_count']", [(ngModel)]="advert.production_count", commaSeparator, placeholder="Example: Impressions, hours run, etc.")
                                    .col-md-6
                                        .tooltip-description
                                            i
                                            p If you don’t know, just leave it blank.
                            .wform__item
                                .row
                                    .col-md-12
                                        label.wform__label Now, tell us a bit more about it:
                                        textarea.wform__textarea(placeholder="Main description (please be as accurate with your description as possible)",[formControl]="stepOneForm.controls['details']", style="height:200px", [(ngModel)]="advert.details")
                            .wform__item--big
                                .row
                                    .col-md-6
                                        button.wbtn.wbtn--blue(type="button", (click)='cancel()') Cancel
                                    .col-md-6
                                        button.wbtn.wbtn--green(type="submit" ) Next >

        .row(*ngIf="currentStep===2")
            .wform.wform--bg
                .wform__wrap
                    .wform__item
                        .row
                            .col-12
                                label.wform__label Add some photos here :
                                //label.image-dropzone(ngFileDrop, ngFileSelect, (uploadOutput)="onUploadOutput($event)", [uploadInput]="uploadInput", [ngClass]="{ 'is-drop-over': dragOver }")
                                //    .image-dropzone__text
                                //        div Upload photos
                                //        div Drag + Drop item in
                                //    input(type="file", ngFileSelect, (uploadOutput)="onUploadOutput($event)", [uploadInput]="uploadInput", multiple, style="display:none")
                                .listing-imgs
                                    .row(dnd-sortable-container, [sortableData]="files")
                                        .col-4.listing-imgs__item(*ngFor="let img of files; let i = index", dnd-sortable, [sortableIndex]="i")
                                            .listing-imgs__img-wrap(*ngIf="!img.url")
                                                img.listing-imgs__img([src]="img.rawImage")
                                                div.listing-imgs__delete((click)="removeFile(img.result.id, i)")
                                                    i.fa.fa-times
                                            .listing-imgs__img-wrap(*ngIf="img.url")
                                                img.listing-imgs__img([src]="img.url")
                                                div.listing-imgs__delete((click)="removeFile(img.id, i, true)")
                                                    i.fa.fa-times
                                            div.text-center(*ngIf="i === 0")
                                                i.fa.fa-arrow-up &nbsp; Drag your main image here
                                        .col-4.listing-imgs__item
                                            label.listing-imgs__img-new
                                                .listing-imgs__img-new-text
                                                    div +
                                                    div Add photos
                                                input(type="file", accept="image/*", ngFileSelect, (uploadOutput)="onUploadOutput($event)", [uploadInput]="uploadInput", multiple)

                    .wform__item
                        form([formGroup]="stepTwoForm", (submit)="stepTwoSubmit()")
                            .wform__item
                                .row
                                    .col-md-12
                                        label.wform__label Now to really help sell your listing, you can include a video too:
                                        .wform__group-wrap
                                            .wform__group(*ngFor="let control of stepTwoForm.controls['advertVideoArray'].controls; let i = index")
                                                .wform__input-wrap
                                                    input.wform__input.wform__input--composite(type="text", [formControl]="control.controls['video']", placeholder="Link to youtube video")
                                                    .wform__addon
                                                        a((click)='removeVideoLink(i)').youtube-close-link.fa.fa-close
                                            .wform__group
                                                .row
                                                    .col-md-3
                                                        button.wbtn.wbtn--white.text-left(type="button", (click)='addVideoLink()')
                                                            i.fa.fa-plus
                                                            | Add video
                            .wform__item--big
                                .row
                                    .col-md-6
                                        button.wbtn.wbtn--blue(type="button", (click)='back()') Previous
                                    .col-md-6
                                        button.wbtn.wbtn--green(type="submit" ) Next >

        .row(*ngIf="currentStep===3")
            .wform.wform--bg
                .wform__wrap
                    .wform__title
                        .row
                            .col-12 OK now the important part
                    .wform__form-wrap
                        form([formGroup]="stepThreeForm", (submit)="stepThreeSubmit()")
                            .wform__item
                                .row
                                    .col-md-4
                                        label.wform__label How much do you want for it?
                                        div.alert.alert-danger(*ngIf="!stepThreeForm.controls['price'].valid && showError")
                                            i.fa.fa-exclamation-triangle.mr-2
                                            | This information is required!
                                        input.wform__input([formControl]="stepThreeForm.controls['price']", [(ngModel)]="price", [ngClass]="{error_outline:!stepThreeForm.controls['price'].valid && showError}", commaSeparator)
                                    .col-md-2
                                        label.wform__label Currency
                                        div(*ngFor="let currencyChoice of currencyChoices")
                                        select.wform__input([formControl]="stepThreeForm.controls['currency']",placeholder='Currency', (change)="updatePrice()", [(ngModel)]="advert.currency" required)
                                            option(*ngFor="let currencyChoice of currencyChoices", [ngValue]="currencyChoice.value") {{currencyChoice.value}}
                                    .col-md-6
                                        .tooltip-description
                                            i
                                            p If you don't know or would rather not say at this stage, then please leave it blank
                            .wform__item
                                .row
                                    .col-md-6
                                        label.wform__label When is it available?
                                        div.alert.alert-danger(*ngIf="!stepThreeForm.controls['availability'].valid && showError")
                                            i.fa.fa-exclamation-triangle.mr-2
                                            | Date is wrong!
                                        .wform__input-wrap
                                            input.wform__input(placeholder="dd/mm/yyyy", name="dp", [formControl]="stepThreeForm.controls['availability']", [(ngModel)]="advert.availability_date", [options]="dateOptions", #dp="ngx-mydatepicker", ngx-mydatepicker, [ngClass]="{error_outline:!stepThreeForm.controls['availability'].valid && showError}")
                                            .wform__addon((click)="dp.toggleCalendar()")
                                                i.fa.fa-calendar

                                    .col-md-6
                            .wform__item
                                .row
                                    .col-md-6
                                        label.wform__label How will you ship it?
                                        div.alert.alert-danger(*ngIf="!stepThreeForm.controls['terms'].valid && showError")
                                            i.fa.fa-exclamation-triangle.mr-2
                                            | This information is required!
                                        select.wform__input([formControl]="stepThreeForm.controls['terms']", [(ngModel)]="advert.terms" , placeholder="Select delivery terms", [ngClass]="{error_outline:!stepThreeForm.controls['terms'].valid && showError}", required)
                                            option(*ngFor="let termsChoice of termsChoices", [ngValue]="termsChoice.value") {{termsChoice.title}}
                                    .col-md-6
                            .wform__item
                                .row
                                    .col-md-6
                                        label.wform__label Whereabouts is it located?
                                .wform__item
                                    .row
                                        .col-md-6
                                            label.wform__label Country
                                            div.alert.alert-danger(*ngIf="!advert.country && showError && !isHideCountry")
                                                i.fa.fa-exclamation-triangle.mr-2
                                                | This information is required!
                                            select.wform__input([formControl]="stepThreeForm.controls['country']", placeholder="Country", [(ngModel)]="advert.country", (ngModelChange)="updateLocationFormInput($event)", [ngClass]="{error_outline:!advert.country && showError && !isHideCountry}")
                                                option(*ngFor="let country of countries", [ngValue]="country.iso") {{country.name}}
                                            .wform__item.wform__item--small
                                                .form-check.form-check-inline
                                                    label.form-check-label
                                                        input.form-check-input(type="checkbox", id="inlineCheckbox1" , value="option1", [checked]="!advert.country && advert.region",
                                                        (change)="$event.target.checked? (isHideCountry = true) : (isHideCountry = false); showError=false; updateLocationFormInput($event)" ngDefaultControl)
                                                        | Rather not say

                                        .col-md-6
                                            .tooltip-description
                                                i
                                                p If you would rather not say what country it is, please add a region, so we have some geographical idea
                                //.wform__item(*ngIf="isHideCountry")
                                .wform__item
                                    .row
                                        .col-md-6
                                            label.wform__label Region
                                            div.alert.alert-danger(*ngIf="!advert.region && showError")
                                                i.fa.fa-exclamation-triangle.mr-2
                                                | This information is required!
                                            select.wform__input([formControl]="stepThreeForm.controls['region']", [(ngModel)]="advert.region", [ngClass]="{error_outline:!advert.region && showError}")
                                                option(*ngFor="let region of regions", [value]="region.id") {{region.name}}
                            .wform__item
                                .row
                                    .col-md-6
                                        label.wform__label Do you want to add your own reference?
                                        input.wform__input([formControl]="stepThreeForm.controls['owner_ref']", [(ngModel)]="advert.owner_ref", placeholder="Sellers ref")

                            .wform__item
                                .row
                                    .col-md-6
                                        label.wform__label Are there any special notes you want to make about this listing?
                                        textarea.wform__textarea(rows="5", [formControl]="stepThreeForm.controls['private_notes']", placeholder="Your notes", [(ngModel)]="advert.private_notes")
                                    .col-md-6
                                        .tooltip-description
                                            i
                                            p These are your private notes, for your eyes only

                            .wform__item.wform__item--big
                                .row
                                    .col-md-6
                                        button.wbtn.wbtn--blue(type="button", (click)='back()') Previous
                                    .col-md-6
                                        button.wbtn.wbtn--green(type="submit") Next >
        .row(*ngIf="currentStep===4")
            .wform.wform--bg
                .wform__wrap
                    .wform__title
                        .row
                            .col-12.text-center Now the final part
                            .col-12.text-muted.text-center Do you want to upgrade your listing and give it a bit more "bling" or do you want to just post it as a box-standard ad?
                    .wform__form-wrap.upgrade-your-advert
                        form([formGroup]="stepFourForm", (submit)="stepFourSubmit()")
                            .wform__item
                                .row(*ngFor="let listingOption of listingOptions")


                                    .col-md-4

                                        label.sign.sign__font_normal([ngClass]="listingOption.iconClass") {{ listingOption.title }}
                                            input.sign__input(type="checkbox",
                                            [formControlName]="listingOption.name", [id]="listingOption.iconClass")
                                            label.sign__input-label([for]="listingOption.iconClass")
                                    .col-md-5
                                        div {{ listingOption.description }}
                                    .col-md-3.col-m-auto(*ngIf="listingOption.price")
                                        select.wform__input.wform__listing-item([formControlName]="listingOption.name+'_pending'",)
                                            option(*ngFor="let listingOptionChoice of listingOption.choices", [ngValue]="listingOptionChoice[0]") {{listingOptionChoice[1]}}
                                        button.wbtn.wbtn--green(type="button", (click)="openPreview(listingOption)") See example
                                    .col-md-3.col-m-auto(*ngIf="!listingOption.price")
                                        div.text-success.free-ad Free
                                .row
                                    .col-md-4
                                        label.sign.sign--all Select all
                                            input.sign__input(type="checkbox",
                                            id="sign--all", (click)="toggleAllListingOptions()",[checked]="isAllListingOptionsChecked()")
                                            label.sign__input-label(for="sign--all")
                                        //input.wform__input(type="checkbox", (click)="toggleAllListingOptions()",
                                        //[checked]="isAllListingOptionsChecked()")
                                    .col-md-5.col-vm-auto
                                        div Select all
                                .row.justify-content-end(*ngIf="this.currentUser && this.currentUser.country == GB && listingPrice > 0")
                                    .col-md-5
                                        div Subtotal {{ listingOptionsCurrency | currencySymbol  }}{{ listingPrice | number:'1.2-2' }} (ex. VAT)

                                .row.justify-content-end(*ngIf="this.currentUser && this.currentUser.country == GB && pricingVAT > 0")
                                    .col-md-5
                                        div VAT @ 20% {{ listingOptionsCurrency | currencySymbol  }}{{ pricingVAT }}

                                .row.justify-content-end
                                    .col-md-5
                                        div Total amount {{ listingOptionsCurrency | currencySymbol  }}{{ getResultPrice() | number:'1.2-2' }} {{ this.currentUser && this.currentUser.country == GB && listingPrice > 0 ? '(inc. VAT)' : listingPrice > 0 ? '(ex. VAT)' : '' }}

                            .wform__item.wform__item--big
                                .row
                                    .col-md-6
                                        button.wbtn.wbtn--blue(type="button", (click)='back()') Previous
                                    .col-md-6
                                        button.wbtn.wbtn--green(*ngIf="listingPrice === 0", type="submit", ) Complete
                                        button.wbtn.wbtn--blue(*ngIf="listingPrice !== 0 && !paypalLoaded")
                                            img.btn-spinner(src="/assets/img/Spinner.gif")
                                        paypal-button([props]="paypalProperties", *ngIf="listingPrice !== 0 && paypalLoaded")
