{% extends "shablon.html" %}


{% block content %}
    <p><input type="button" onclick="history.back();"  class="btn btn-outline-dark btn-sm" value="Назад"/></p>
<hr>
<h1 align="center">Список Изготовителей</h1>

<p> <a href="{% url 'create_pritinghouse' %}">Добавить</a></p>

<table>
   {% for val_pritinghouse in object_list  %}
<tr>
    <td><p>{{val_pritinghouse.name}} </p></td>
    <td><p>{{val_pritinghouse.description}}</p></td>
    <td width="100px"></td>
    <td><p><a href="{% url 'detail_pritinghouse' val_pritinghouse.pk %}"> Просмотреть </a> </p></td>
    <td><p><a href="{% url 'update_pritinghouse' val_pritinghouse.pk %}"> Редактировать</a> </p></td>
    <td><p><a href="{% url 'delete_pritinghouse' val_pritinghouse.pk %}"> Удалить </a> </p></td>
</tr>
{% endfor %}
</table>
{% endblock %}
