hr.hr_header_page_advert
.page.page--advert
    .container
        .row
            .col-md-3
                .account-aside
                    .account-aside__avatar
                        .account-ava
                            .account-ava__img-wrap
                                img.account-ava__img([src]="user?.photo", data-avatar)
                                label.account-ava__upload-label
                                    i.fa.fa-upload
                                    input.account-ava__upload-input(type="file", accept="image/*", (change)="updatePhoto($event)")
                    .account-aside__menu
                        ul.account-menu.list-unstyled
                            li.account-menu__item
                                a.account-menu__lnk([routerLink]=['settings'])
                                    i.fa.fa-user-o
                                    |Settings
                            li.account-menu__item
                                a.account-menu__lnk([routerLink]=['my_listings'])
                                    i.fa.fa-list
                                    |My Listings
                            li.account-menu__item
                                a.account-menu__lnk([routerLink]=['alerts'])
                                    i.fa.fa-bell-o
                                    |Alerts
                            li.account-menu__item
                                a.account-menu__lnk([routerLink]=['wish-list'])
                                    i.fa.fa-heart-o
                                    |Wish List
                            li.account-menu__item
                                a.account-menu__lnk([routerLink]=['messages'])
                                    i.fa.fa-comments-o
                                    |Messages
                                    span.blink_me(*ngIf="user?.new_messages")   ({{user?.new_messages}})
                            li.account-menu__item
                                a.account-menu__lnk([routerLink]=['invoices'])
                                    i.fa.fa-file-text-o
                                    |Invoices
                    //.account-aside__btn-wrap.text-center
                    //    button.wbtn.wbtn--green([routerLink]=['listing/new']) Add new listing

            .col-md-9
                router-outlet


