

.page__meta(style='border-right:10px solid;border-left:10px solid;')
    .page__meta-item
        .breadcrumb
            .breadcrumb__item
                a.breadcrumb__inner-item.active([routerLink]="['/']") Account
            .breadcrumb__item
                span.breadcrumb__inner-item >
                    //i.fa.fa-long-arrow-right
                a.breadcrumb__inner-item.active([routerLink]="['/account/messages']") Messages
            .breadcrumb__item
                span.breadcrumb__inner-item >
                    //i.fa.fa-long-arrow-right
                span.breadcrumb__inner-item(*ngIf="conversation?.advert", [routerLink]="['/adverts', iconversation?.advert?.id]") {{conversation?.advert.machine_name}}
                span.breadcrumb__inner-item(*ngIf="!conversation?.advert") WANTED: {{conversation?.wanted_advert.name}}
    .messages-list
        .page__meta-item.page__meta-item--colored
            .row
                .col-4
                    .page__meta-title Messages
                .col-8
                    ul.pagination__list(*ngIf="pager.pages && pager.pages.length")
                        li.pagination__item([ngClass]="{disabled:pager.currentPage === 1}", (click)="setPage(1)") First
                        li.pagination__item([ngClass]="{disabled:pager.currentPage === 1}", (click)="setPage(pager.currentPage - 1)") Previous
                        li.pagination__item(*ngFor="let page of pager.pages", [ngClass]="{active:pager.currentPage === page}", (click)="setPage(page)") {{page}}
                        li.pagination__item([ngClass]="{disabled:pager.currentPage === pager.totalPages}", (click)="setPage(pager.currentPage + 1)") Next
                        li.pagination__item([ngClass]="{disabled:pager.currentPage === pager.totalPages}", (click)="setPage(pager.totalPages)") Last

        .messages__form
            .row
                .col-10
                    .messages__form-item
                        textarea.messages__form-input([(ngModel)]="messageText").ng-untouched.ng-pristine.ng-valid(placeholder='Please write your message here...')
                    .messages__form-item.text-right
                        button.messages__form-btn((click)="sendMessage()")
                            | Send Message
                            i.fa.fa-paper-plane-o.ml-2
                .col-2
                    .about-seller__avatar-item
                        .about-seller__ava
                            img.about-seller__ava-img([src]="user?.photo", data-avatar)
        .messages-list__wrap
            preloader-component([showStatus]="preloader")
            .message-list__item-wrap
                .message-list__item(*ngFor="let message of messages")
                    .message(*ngIf="user?.id == message?.user?.id")
                        .row
                            .col-10
                                .message__text-wrap.message__text-wrap--left
                                    .message__text {{message?.text}}
                                    .message__theme(*ngIf="conversation?.advert", [routerLink]="['/adverts', iconversation?.advert?.id]") {{conversation?.advert.machine_name}}
                                    .message__theme(*ngIf="!conversation?.advert") WANTED: {{conversation?.wanted_advert.name}}
                            .col-2.text-center
                                .message__ava-wrap
                                    .message__ava
                                        img.message__ava-img([src]="message?.user.photo_thumb", data-avatar)
                                    .message__date {{message?.days_ago}}
                    .message(*ngIf="user?.id !== message?.user?.id")
                        .row
                            .col-2.text-center
                                .message__ava-wrap
                                    .message__ava
                                        img.message__ava-img([src]="message?.user.photo_thumb", data-avatar)
                                    .message__date {{message?.days_ago}}
                            .col-10
                                .message__text-wrap.message__text-wrap--right
                                    .message__text {{message?.text}}
                                    .message__theme(*ngIf="conversation?.advert", [routerLink]="['/adverts', iconversation?.advert?.id]") {{conversation?.advert.machine_name}}
                                    .message__theme(*ngIf="!conversation?.advert") WANTED: {{conversation?.wanted_advert.name}}

    .pagination
        ul.pagination__list(*ngIf="pager.pages && pager.pages.length")
            li.pagination__item([ngClass]="{disabled:pager.currentPage === 1}", (click)="setPage(1)") First
            li.pagination__item([ngClass]="{disabled:pager.currentPage === 1}", (click)="setPage(pager.currentPage - 1)") Previous
            li.pagination__item(*ngFor="let page of pager.pages", [ngClass]="{active:pager.currentPage === page}", (click)="setPage(page)") {{page}}
            li.pagination__item([ngClass]="{disabled:pager.currentPage === pager.totalPages}", (click)="setPage(pager.currentPage + 1)") Next
            li.pagination__item([ngClass]="{disabled:pager.currentPage === pager.totalPages}", (click)="setPage(pager.totalPages)") Last
