{% extends "shablon.html" %}

{% block content %}
 <form method="POST">
         <p><input type="button" onclick="history.back();"  class="btn btn-outline-dark btn-sm" value="Назад"/></p>
<hr>
        {% csrf_token %}
        <p>
            <label>Введите Издательство книги</label><br>
            <input type="text" name="name" value="" />
        </p>
        <p>
            <label>Введите описание</label><br>
            <input type="text" name="description" value="" />
        </p>
        <input type="submit" value="Добавить" >
    </form>

{% endblock %}