{% extends "shablon.html" %}


{% block content %}
    <p><input type="button" onclick="history.back();"  class="btn btn-outline-dark btn-sm" value="Назад"/></p>
<hr>
<h1 align="center">Список Издательств</h1>

<p> <a href="{% url 'create_publishinghouse' %}">Добавить</a></p>

<table>
   {% for val_publishinghouse in object_list  %}
<tr>
    <td><p>{{val_publishinghouse.name}} </p></td>
    <td><p>{{val_publishinghouse.description}}</p></td>
    <td width="100px"></td>
    <td><p><a href="{% url 'detail_publishinghouse' val_publishinghouse.pk %}"> Просмотреть </a> </p></td>
    <td><p><a href="{% url 'update_publishinghouse' val_publishinghouse.pk %}"> Редактировать</a> </p></td>
    <td><p><a href="{% url 'delete_publishinghouse' val_publishinghouse.pk %}"> Удалить </a> </p></td>
</tr>
{% endfor %}
</table>
{% endblock %}
