{% extends "shablon.html" %}

{%  block content %}
    <p><input type="button" onclick="history.back();"  class="btn btn-outline-dark btn-sm" value="Назад"/></p>
{{c}}

<hr>
{% for val in contact %}
<p>{{val}}</p>

{% endfor %}


{% endblock %}