<!DOCTYPE html>
<html lang="en">
<head>
   {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static "css/style.css" %}" />
    <meta charset="UTF-8">
    <title>Главная панель администрирования</title>
    <style>
    .myfield {
    border:1px solid #ccc;
    border-radius:5px;
    height:25px;
    width:200px;
    margin: 10px 10px 10px 0;
    }
    p {
    margin:15px;
    }
    </style>
</head>
<body>
      <a href="{% url 'my_index' %}" class="btn btn-success btn-lg">На Главую страница</a>
<div class="jumbotron">
  <div class="container">
    <h1>Главная панель администрирования</h1>


      <a href="{% url 'list_book' %}" class="btn btn-warning btn-lg">Книги</a>
      <a href="{% url 'statistika' %}" class="btn btn-danger btn-lg">Статистика</a>
      <a href="{% url 'spravka' %}" class="btn btn-primary btn-lg">Справочники</a>
      <a href="{% url 'about' %}" class="btn btn-info btn-lg">Обратная связь</a>
<div class="container">

        <p style="margin-top:15px;">Админ панель сайта.</p>




    {% block content %}

{%  endblock %}

</div>

  </div>
</div>


</body>
</html>