<!DOCTYPE html>
<html lang="en">
<head>
   {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/statistica.css' %}" />


    <meta charset="UTF-8">
    <title>Статистика</title>
</head>
<body>
      <a href="{% url 'my_index' %}" class="btn btn-success btn-lg">На Главую страница</a>
<div class="jumbotron">
  <div class="container">
    <h1>Главная панель администрирования</h1>


      <a href="{% url 'list_book' %}" class="btn btn-warning btn-lg">Книги</a>
	  <a href="{% url 'statistika' %}" class="btn btn-danger btn-lg">Статистика</a>
      <a href="{% url 'spravka' %}" class="btn btn-primary btn-lg">Справочники</a>
      <a href="{% url 'about' %}" class="btn btn-info btn-lg">Обратная связь</a>
</div>

  </div>

<table class="simple-little-table" cellspacing='0' align="">
	<tr>

		<th align="center"><h3>Статистика Базы данных</h3></th>
	</tr><!-- Table Header -->

	<tr>
		<td>Товаров всего</td>
		<td>{{count_all}}</td>

	</tr><!-- Table Row -->

	<tr>
		<td>Количество активных товаров</td>
		<td>{{count_active}}</td>

	</tr><!-- Darker Table Row -->

	<tr>
		<td>Количество товаров добавленных вчера</td>
		<td>{{tommorow_count}}</td>
	</tr>

	<tr>
		<td>Количество товаров добавленых за месяц</td>
		<td>{{month_count}}</td>

	</tr>

    <tr>
		<td>Число категорий(жанров)</td>
		<td>{{count_all_genres}}</td>

	</tr>

	<tr>
		<td>Количество книг в каждом жанре</td>

		<td><p>Наука - {{c_b_i_g1}} </p>
		<p>Приключения - {{c_b_i_g2}} </p></td>
	</tr>
</table>



</body>
</html>