{% extends "shablon.html" %}


{% block content %}
    <p><input type="button" onclick="history.back();"  class="btn btn-outline-dark btn-sm" value="Назад"/></p>
<hr>
<h1 align="center">Список Книг</h1>

<p> <a href="{% url 'create_book' %}">Добавить</a></p>
<table>
   {% for val_book in object_list  %}
<tr>
    <td><p>{{val_book.name}} </p></td>
    <td width="100px"></td>
    <td><p><a href="{% url 'detail_book' val_book.pk %}"> Просмотреть </a> </p></td>
    <td><p><a href="{% url 'update_book' val_book.pk %}"> Редактировать</a> </p></td>
    <td><p><a href="{% url 'delete_book' val_book.pk %}"> Удалить </a> </p></td>
</tr>
{% endfor %}
</table>
{% endblock %}
