{% extends "shablon.html" %}


{% block content %}
    <p><input type="button" onclick="history.back();"  class="btn btn-outline-dark btn-sm" value="Назад"/></p>
<hr>
<h1 align="center">О Книге</h1>


<table border="10px bold" align="center">

<tr>
    <tr><p style="bold;"><b> Название книги:</b></p><p>{{object.name}}</p></tr>
    <tr><p style="bold;"><b>Стоимость: </b></p><p>{{object.price}}</p></tr>
    <tr><p style="bold;"><b>Обложка: </b></p><p><img src="{{object.cover_image.url}}"> </p>
    </tr>


    <tr>
        <p><b> Авторы:</b></p>
            {% for author in object.authors.all %}
                <p>{{author.name}}</p>
             {% endfor %}
    </tr>
    <tr><p style="bold;"><b>Серия: </b></p><p>{{object.serie}}</p></tr>

      <tr>
          <p><b> Жанр книги:</b></p>
          {% for genre in object.genres.all%}
          <p>{{genre.name}}.</p>
          {% endfor %}
      </tr>


    <tr><p style="bold;"><b>Год издания: </b></p><p>{{object.published_year}}</p></tr>
    <tr><p style="bold;"><b>Количество страниц: </b></p><p>{{object.pages}}</p></tr>
    <tr><p style="bold;"><b>Переплёт: </b></p><p>{{object.binding}}</p></tr>
    <tr><p style="bold;"><b>Формат книги: </b></p><p>{{object.book_format}}</p></tr>
    <tr><p style="bold;"><b>Формат(ISBN): </b></p><p>{{object.isbn}}</p></tr>
    <tr><p style="bold;"><b>Вес: </b></p><p>{{object.weight}}</p></tr>
    <tr><p style="bold;"><b>Возрастные ограничения: </b></p><p>{{object.age_restriction}}</p></tr>
    <tr><p style="bold;"><b>Издательство: </b></p><p>{{object.publisher}}</p></tr>
    <tr><p style="bold;"><b>Производитель: </b></p><p>{{object.printer}}</p></tr>
    <tr><p style="bold;"><b>Книг в наличии: </b></p><p>{{object.available_books}}</p></tr>
    <tr><p style="bold;"><b>Рейтинг: </b></p><p>{{object.rate}}</p></tr>
     <tr><p style="bold;"><b>E-mail: </b></p><p>{{object.e_mail}}</p></tr>
      <tr><p style="bold;"><b>Дата создания книги: </b></p><p>{{object.created_date}}</p></tr>

</tr></table>


{% endblock %}
