{% extends "shablon.html" %}


{% block content %}
    <p><input type="button" onclick="history.back();"  class="btn btn-outline-dark btn-sm" value="Назад"/></p>
<hr>
<p><a href="{%url 'list_author'%}">Авторы</a></p>
<p><a href="{%url 'list_serie'%}">Серия</a></p>
<p><a href="{%url 'list_ganre'%}">Жанр</a></p>
<p><a href="{%url 'list_pritinghouse'%}">Изготовитель</a></p>
<p><a href="{%url 'list_publishinghouse'%}">Издатель(Дом печати)</a></p>

{% endblock %}
