.page.page--advert
    .page__big-title.text-center(*ngIf="searchParams.query")
        span {{searchParams.query}}
    .page__big-title.text-center(*ngIf="selectedCategories.length> 0 && !searchParams.query")
        span {{selectedCategories[selectedCategories.length-1].original_name || selectedCategories[selectedCategories.length-1].name}}
    .container
        .row
            .col-12.col-md-4.col-lg-2
                .filter
                    .filter__header {{resultCounter}} Listings
                    .filter__body
                        .filter__title Filtered by:
                        .filter__content
                            .filter__content-item
                                .filter__item(*ngIf="searchParams.owner?.first_name")
                                    .filter__item-selected-label Seller
                                    ul.filter-item__selected-list.list-unstyled
                                        li.filter-item__selected-list-item((click)="clearOwner()")
                                            i.fa.fa-times
                                            | {{advertService?.owner?.first_name}} {{advertService?.owner?.last_name}}
                                .filter__item(*ngIf="searchParams.owner")
                                    .filter__item-selected-label Seller
                                    ul.filter-item__selected-list.list-unstyled
                                        li.filter-item__selected-list-item(*ngFor="let seller of filterParams.seller| arrayFilter: searchParams.owner")
                                            span((click)="deleteSearchParam(seller.id, 'sellers')")
                                                i.fa.fa-times
                                                | {{seller?.name}}
                                .filter__item(*ngIf="searchParams.query")
                                    .filter__item-selected-label Query
                                    ul.filter-item__selected-list.list-unstyled
                                        li.filter-item__selected-list-item((click)="clearQuery()")
                                            i.fa.fa-times
                                            | {{searchParams.query}}
                                .filter__item(*ngIf="selectedCategories.length > 0")
                                    .filter__item-selected-label Category
                                    ul.filter-item__selected-list.list-unstyled
                                        li.filter-item__selected-list-item(*ngFor="let category of selectedCategories; let i = index ", (click)="removeCategory(i)")
                                            i.fa.fa-times
                                            | {{category?.name}}
                                .filter__item(*ngIf="searchParams.manufacturer.length > 0")
                                    .filter__item-selected-label Manufacturer
                                    ul.filter-item__selected-list.list-unstyled
                                        li.filter-item__selected-list-item(*ngFor="let manufacturer of filterParams.manufacturer| arrayFilter:searchParams.manufacturer")
                                            span((click)="deleteSearchParam(manufacturer.id, 'manufacturer')")
                                                i.fa.fa-times
                                                | {{manufacturer?.name}}
                                .filter__item(*ngIf="searchParams.model.length > 0")
                                    .filter__item-selected-label Model
                                    ul.filter-item__selected-list.list-unstyled
                                        li.filter-item__selected-list-item(*ngFor="let model of filterParams.model| arrayFilter:searchParams.model")
                                            span((click)="deleteSearchParam(model.id, 'model')")
                                                i.fa.fa-times
                                                | {{model?.name}}
                                .filter__item(*ngIf="searchParams.sheet_size.length > 0")
                                    .filter__item-selected-label Sheet Size
                                    ul.filter-item__selected-list.list-unstyled
                                        li.filter-item__selected-list-item(*ngFor="let size of filterParams.sheet_size| arrayFilter:searchParams.sheet_size")
                                            span((click)="deleteSearchParam(size.id, 'sheet_size')")
                                                i.fa.fa-times
                                                | {{size?.name}}
                                .filter__item(*ngIf="searchParams.advert_type.length > 0")
                                    .filter__item-selected-label Status
                                    ul.filter-item__selected-list.list-unstyled
                                        li.filter-item__selected-list-item(*ngFor="let type of filterParams.advert_type| arrayFilter:searchParams.advert_type")
                                            span((click)="deleteSearchParam(type.id, 'advert_type')")
                                                i.fa.fa-times
                                                | {{type?.name}}
                                .filter__item(*ngIf="searchParams.condition.length > 0")
                                    .filter__item-selected-label Condition
                                    ul.filter-item__selected-list.list-unstyled
                                        li.filter-item__selected-list-item(*ngFor="let condition of filterParams.condition| arrayFilter:searchParams.condition; let i = index")
                                            span((click)="deleteSearchParam(condition.id, 'condition')")
                                                i.fa.fa-times
                                                | {{condition.name}}
                                .filter__item(*ngIf="searchParams.region.length > 0")
                                    .filter__item-selected-label Region
                                    ul.filter-item__selected-list.list-unstyled
                                        li.filter-item__selected-list-item(*ngFor="let region of filterParams.region | arrayFilter:searchParams.region")
                                            span((click)="deleteSearchParam(region.id, 'region')")
                                                i.fa.fa-times
                                                | {{region?.name}}
                                .filter__item(*ngIf="searchParams.country.length > 0")
                                    .filter__item-selected-label Country
                                    ul.filter-item__selected-list.list-unstyled
                                        li.filter-item__selected-list-item(*ngFor="let country of filterParams.country | arrayFilter:searchParams.country")
                                            span((click)="deleteSearchParam(country.id, 'region')")
                                                i.fa.fa-times
                                                | {{country?.name}}
                                .filter__item(*ngIf="searchParams.year.length > 0")
                                    .filter__item-selected-label Year
                                    ul.filter-item__selected-list.list-unstyled
                                        li.filter-item__selected-list-item(*ngFor="let year of filterParams.year | arrayFilter:searchParams.year")
                                            span((click)="deleteSearchParam(year.id, 'year')")
                                                i.fa.fa-times
                                                | {{year?.name}}
                            .filter__content-item
                                .filter__item
                                    .filter-item__title Categories
                                    ul.filter-item__list.list-unstyled
                                        li.filter-item__list-item(*ngFor="let category of filterParams.category| categoryFilter:searchParams.category", (click)="selectCategory(category)")
                                            | {{category?.name}}
                                .filter__item
                                    .filter-item__title Manufacturer
                                    ss-multiselect-dropdown([options]="availableManufacturers", [settings]="selectSettings", [(ngModel)]="searchParams.manufacturer", (ngModelChange)="searchAdverts()")
                                .filter__item
                                    .filter-item__title Model
                                    ss-multiselect-dropdown([options]="filterParams.model| modelFilter:searchParams.manufacturer",[settings]="selectSettings", [(ngModel)]="searchParams.model", (ngModelChange)="searchAdverts()")
                                .filter__item
                                    .filter-item__title Sheet Size
                                    ss-multiselect-dropdown([options]="filterParams.sheet_size", [settings]="selectSettings", [(ngModel)]="searchParams.sheet_size", (ngModelChange)="searchAdverts()")
                                .filter__item
                                    .filter-item__title Status
                                    ss-multiselect-dropdown([options]="filterParams.advert_type", [settings]="selectSettings", [(ngModel)]="searchParams.advert_type", (ngModelChange)="searchAdverts()")
                                .filter__item
                                    .filter-item__title Condition
                                    ss-multiselect-dropdown([options]="filterParams.condition", [settings]="selectSettings", [(ngModel)]="searchParams.condition", (ngModelChange)="searchAdverts()")
                                .filter__item
                                    .filter-item__title Year
                                    ss-multiselect-dropdown([options]="filterParams.year", [settings]="selectSettings", [(ngModel)]="searchParams.year", (ngModelChange)="searchAdverts()")
                                .filter__item
                                    .filter-item__title Regions
                                    ss-multiselect-dropdown([options]="availableRegions", [settings]="selectSettings", [(ngModel)]="searchParams.region", (ngModelChange)="searchAdverts()")
                                .filter__item
                                    .filter-item__title Countries
                                    ss-multiselect-dropdown([options]="filterParams.country | countryFilter:searchParams.region", [settings]="selectSettings", [(ngModel)]="searchParams.country", (ngModelChange)="searchAdverts()")
                                .filter__item
                                    .filter-item__title(style="overflow: hidden;") Sellers
                                    ss-multiselect-dropdown([options]="filterParams.seller", [settings]="selectSettings", [(ngModel)]="searchParams.owner", (ngModelChange)="searchAdverts()")

                                .filter__item
                                    .filter-item__title Price
                                    .wform__item
                                        label.wform__label(for='priceFrom') From
                                        div.input-group
                                            .wform__input-wrap
                                                input.wform__input.wform__input--composite-left([(ngModel)]="searchParams.min_price", (focusout)="searchAdverts()", type="number", id="priceFrom", placeholder="From", step="0.01", min="0")
                                                .wform__addon.wform__addon--left {{ currencyService.getCurrency() | currencySymbol}}

                                        .wform__item
                                            label.wform__label(for='priceTo') To
                                            div.input-group
                                                input.wform__input.wform__input--composite-left([(ngModel)]="searchParams.max_price", (focusout)="searchAdverts()", type="number", id="priceTo", placeholder="To", step="0.01", min="0")
                                                .wform__addon.wform__addon--left {{ currencyService.getCurrency() | currencySymbol}}


            .col-12.col-md-8.col-lg-10
                .page__meta
                    .page__meta-item
                        .breadcrumb
                            .breadcrumb__item
                                a.breadcrumb__inner-item.active([routerLink]="['/']") Home
                            .breadcrumb__item
                                span.breadcrumb__inner-item >
                                    //i.fa.fa-chevron-right
                                span.breadcrumb__inner-item(*ngIf="selectedCategories.length < 1") Search
                                span.breadcrumb__inner-item.active(*ngIf="selectedCategories.length >= 1",[ngClass]="{active:selectedCategories.length >= 1}", (click)="removeCategory(i+1)") Search
                            .breadcrumb__item(*ngFor="let category of selectedCategories; let last = last; let i = index")
                                span.breadcrumb__inner-item >
                                    //i.fa.fa-chevron-right
                                span.breadcrumb__inner-item.active(*ngIf="!last",(click)="removeCategory(i+1)") {{category?.name}}
                                span.breadcrumb__inner-item(*ngIf="last",) {{category?.name}}
                    .page__meta-item
                        .row.filled-row
                            .col-md-3.col-lg-2
                                label.wform__label.wform__label--inline.adverts__label--sorting {{resultCounter}} Listings
                            .col-md-5.col-lg-3
                                label.wform__label.wform__label--inline.adverts__label--sorting Items per page
                                select.wform__input.wform__input--inline.adverts__label--sorting([(ngModel)]="searchParams.page_size", (ngModelChange)="searchAdverts()")
                                    option(*ngFor="let value of pageSizes", [ngValue]="value") {{value}}
                            .d-none.d-sm-block.col-md-3.col-lg-3.text-left.text-lg-center
                                .view-toggle
                                    .view-toggle__item([ngClass]="{'active': view == 'grid'}", (click)="view = 'grid'")
                                        i.fa.fa-th
                                    .view-toggle__item([ngClass]="{'active': view == 'list'}", (click)="view = 'list'")
                                        i.fa.fa-list
                            .col-md-12.col-lg-4
                                label.wform__label.wform__label--inline.adverts__label--sorting Sort by
                                select.wform__input.wform__input--inline.adverts__label--sorting([(ngModel)]="searchParams.ordering[1]", (ngModelChange)="searchAdverts()")
                                    option(*ngFor="let item of resultOrdering", [ngValue]="item.key") {{item.value}}

                ngb-alert(type="danger", [dismissible]="false", *ngIf="isShowNoAdvertsMessage") We’re sorry we currently have no suitable listings that match your search
                .advert__list(*ngIf="!isShowNoAdvertsMessage")
                    preloader-component([showStatus]="preloader")
                    .row.row-adverts(*ngIf="view=='grid'", infiniteScroll, [infiniteScrollDistance]="1", [infiniteScrollThrottle]="700", (scrolled)="onScroll()", [infiniteScrollDisabled]="pager.currentPage === pager.totalPages")
                        .col-12.col-md-6.col-lg-4(*ngFor="let advert of adverts")
                            .advert__grid-item
                                .advert-preview([ngClass]="{'advert-preview--urgent': advert.urgent, 'advert-preview--spotlight': advert.spotlight}")
                                    .advert-preview__img-wrap
                                        a([routerLink]="['/adverts', advert.id]")
                                            .advert-preview__urgent(*ngIf="advert.urgent") Urgent
                                            img.advert-preview__img(*ngIf="advert.main_image?.url", [src]="advert.main_image?.url")
                                            .no-image(*ngIf="!advert.main_image?.url")
                                                .no-image__wrap
                                                    .no-image__img-wrap
                                                        img.no-image__img([src]="'/assets/img/logo_new2.png'")
                                                    span.no-image__text No image available
                                        .advert-preview__wish-list.active(*ngIf="advert?.owner != userService.currentUser?.id && userService.currentUser && advert.users_wishes.indexOf(userService.currentUser?.id) > -1", (click)="addToWishList(userService.currentUser?.id,advert, 'remove')", title="Remove from wish list")
                                            i.fa.fa-heart
                                        .advert-preview__wish-list(*ngIf="advert?.owner != userService.currentUser?.id && userService.currentUser && advert.users_wishes.indexOf(userService.currentUser?.id) == -1", (click)="addToWishList(userService.currentUser?.id,advert)", title="Add to wish list")
                                            i.fa.fa-heart
                                    .advert-preview__content
                                        .advert-preview__rating
                                            .row
                                                .col-6.text-left.machine-preview__rating__text((click)="passActiveCategory({'name':advert.category.name, 'id':advert.category.id})" routerLink="/adverts" )  {{advert?.category?.name}}
                                                .col-6.text-right
                                                    stars-component([rating]="advert?.condition", [color]="'star--blue'")
                                        .advert-preview__title.text-left([routerLink]="['/adverts', advert.id]")
                                            .row
                                                .col-12 {{advert?.machine_name}}

                                        .advert-preview__meta
                                            .row
                                                .col-6.text-left
                                                    img([src]="'/assets/img/location-marker.svg'").review__meta-icon
                                                    | {{advert?.location}}
                                                .col-6.text-left.pl-0
                                                    img([src]="'/assets/img/clock.svg'").review__meta-icon
                                                    | {{formatDate(advert?.modified)}}
                                            .row.mt-3
                                                .col-6.text-left.pr-0
                                                    img([src]="'/assets/img/user.svg'").review__meta-icon
                                                    | {{advert?.public_name}}
                                                .col-6.text-left.pl-0.pr-0
                                                    img([src]="'/assets/img/package.svg'").review__meta-icon
                                                    | Used
                                        .advert-preview__price.price__number(*ngIf="advert?.price")
                                            .row
                                                .col-12.text-left
                                                    span.price(*ngIf="!currencyService.checkCurrency(advert)") {{ currencyService.getCurrency() | currencySymbol }}{{advert.euros | converterCurrency | number }} {{ currencyService.getCurrency()}}
                                                    span.price(*ngIf="currencyService.checkCurrency(advert)") {{ currencyService.getCurrency() | currencySymbol }}{{advert.price | number }} {{ currencyService.getCurrency()}}
                                                    span.terms ({{advert?.terms}})
                                        .advert-preview__price(*ngIf="!advert?.price")
                                            .row
                                                .col-md-12.text-left
                                                    span.price Price on request
                                                    span.terms ({{advert?.terms}})
                                        .advert-preview__btn(*ngIf="!userService.currentUser")
                                            button.wbtn.wbtn--blue.wbtn--small((click)="modalService.openSignInModal()") Sign in to Contact the Seller
                                        .advert-preview__btn(*ngIf="advert?.owner != userService.currentUser?.id && userService.currentUser")
                                            button.wbtn.wbtn--blue.wbtn--small((click)="modalService.openContactSellerModal(userService.currentUser?.id, advert?.owner, advert.id, null, advert?.machine_name)") Contact Seller
                                        .advert-preview__btn(*ngIf="advert?.owner == userService.currentUser?.id && userService.currentUser")
                                            button.wbtn.wbtn--green.wbtn--small((click)="openPagePayment(advert.id)")
                                                i.fa.fa-star.mr-2
                                                | Feature this Advert
                    .row(*ngIf="view=='list'")
                        .col-12(infiniteScroll, [infiniteScrollDistance]="1", [infiniteScrollThrottle]="700", (scrolled)="onScroll()", [infiniteScrollDisabled]="pager.currentPage === pager.totalPages")
                            .advert__list-item(*ngFor="let advert of adverts")
                                .advert-preview.advert-preview--inline
                                    .row.align-items-center
                                        .col-4
                                            .advert-preview__img-wrap
                                                a([routerLink]="['/adverts', advert.id]")
                                                    .advert-preview__urgent(*ngIf="advert.urgent") Urgent
                                                    img.advert-preview__img(*ngIf="advert.main_image?.url", [src]="advert.main_image?.url")
                                                    .no-image(*ngIf="!advert.main_image?.url")
                                                        .no-image__wrap
                                                            .no-image__img-wrap
                                                                img.no-image__img([src]="'../../../assets/img/logo_new2.png'")
                                                            span.no-image__text No image available
                                                    //.advert-preview__price(*ngIf="advert?.price") {{ currencyService.getCurrency() | currencySymbol}}{{advert.price | converterCurrency | number }}
                                                    //.advert-preview__price(*ngIf="!advert?.price") Price on request

                                                .advert-preview__wish-list.active(*ngIf="advert?.owner != userService.currentUser?.id && userService.currentUser && advert.users_wishes.indexOf(userService.currentUser?.id) > -1", (click)="addToWishList(userService.currentUser?.id,advert, 'remove')", title="Remove from wish list")
                                                    i.fa.fa-heart
                                                .advert-preview__wish-list(*ngIf="advert?.owner != userService.currentUser?.id && userService.currentUser && advert.users_wishes.indexOf(userService.currentUser?.id) == -1", (click)="addToWishList(userService.currentUser?.id,advert)", title="Add to wish list")
                                                    i.fa.fa-heart
                                        .col-8
                                            .row
                                                .col-6.text-left.machine-preview__rating__text.advert-preview__rating((click)="passActiveCategory({'name':advert.category.name, 'id':advert.category.id})" routerLink="/adverts" ) {{advert?.category?.name}}
                                                .col-6.text-right
                                                    .advert-preview__rating.pb-2
                                                        stars-component([rating]="advert?.condition", [color]="'star--blue'")
                                            .row
                                                .col-12
                                                    .advert-preview__title-list([routerLink]="['/adverts', advert.id]") {{advert?.machine_name}}
                                            .row.my-3
                                                .col-12
                                                    .advert-preview__description {{advert?.short_description}} {{advert?.short_description?'...':''}}
                                            .row
                                                .col-8
                                                    .row
                                                        .col-6.text-left
                                                            img([src]="'/assets/img/location-marker.svg'").review__meta-icon
                                                            | {{advert?.location}}
                                                        .col-6.text-left.pl-0
                                                            img([src]="'/assets/img/clock.svg'").review__meta-icon
                                                            | {{formatDate(advert?.availability_date)}}
                                                    .row.mt-3
                                                        .col-6.text-left
                                                            img([src]="'/assets/img/user.svg'").review__meta-icon
                                                            | {{advert?.public_name}}
                                                        .col-6.text-left.pl-0
                                                            img([src]="'/assets/img/package.svg'").review__meta-icon
                                                            | Used
                                                .col-4
                                                    .advert-preview__btn(*ngIf="!userService.currentUser")
                                                        button.wbtn.wbtn--blue.wbtn--small((click)="modalService.openSignInModal()") Sign in to Contact the Seller
                                                    .advert-preview__btn(*ngIf="advert?.owner != userService.currentUser?.id && userService.currentUser")
                                                        button.wbtn.wbtn--blue.wbtn--small((click)="modalService.openContactSellerModal(userService.currentUser?.id, advert?.owner, advert.id, null, advert?.machine_name)") Contact Seller
                                                    .advert-preview__btn(*ngIf="advert?.owner == userService.currentUser?.id && userService.currentUser")
                                                        button.wbtn.wbtn--green.wbtn--small((click)="openPagePayment(advert.id)")
                                                            i.fa.fa-star.mr-2
                                                            | Feature this Advert

                                            .row.mt-2
                                                .col-9
                                                    .advert-price__detail-list.text-left(*ngIf="advert?.price")
                                                        .advert-preview__price-list
                                                            span.price {{ currencyService.getCurrency() | currencySymbol }}{{advert.euros | converterCurrency | number }} {{ currencyService.getCurrency() || currency}}
                                                            span.terms ({{advert?.terms}})
                                                    .advert-price__detail-list.text-left(*ngIf="!advert?.price")
                                                        .advert-preview__price-list
                                                            span.price Price on request
                                                            span.terms ({{advert?.terms}})
                                                .col-3
                                                    .advert-number.text-right
                                                        img([src]="'/assets/img/item.png'")
                                                        | Item No.{{advert?.id}}

                                            //.advert-preview__content-list
                                                .row
                                                    .col-6
                                                        .advert-preview__title-list([routerLink]="['/adverts', advert.id]") {{advert?.machine_name}}
                                                    .col-6
                                                        .advert-preview__rating
                                                            stars-component([rating]="advert?.condition", [color]="'star--blue'")
                                                .row
                                                    .col-7
                                                        .advert-preview__desc(*ngIf="advert?.short_description") {{advert?.short_description}}
                                        //.col-2
                                            .advert-price__detail-list.text-center
                                                .advert-preview__price-list {{ currencyService.getCurrency() | currencySymbol}}{{advert.price | converterCurrency | number }} {{advert.terms}}
                                                .advert-preview__location {{advert?.location}}
                                            //.advert-preview__price(*ngIf="advert?.price")
                                            //    .row
                                            //        .col-md-5 {{ currencyService.getCurrency() | currencySymbol}}{{advert.price | converterCurrency | number }}
                                            //        .col-md-7  {{advert?.terms }}
                                            //.advert-preview__price(*ngIf="!advert?.price")
                                            //    .row
                                            //        .col-md-5 Price on request
                                            //        .col-md-7  {{advert?.terms }}
                                            //
                                            //.advert-preview__meta
                                            //    .row
                                            //        .col-6
                                            //            .advert-preview__location {{advert?.location}}
                                        //.col-2.col-m-auto
                                            .advert-preview__btn.advert-preview__btn--inline(*ngIf="!userService.currentUser")
                                                button.wbtn.wbtn--blue.wbtn--small((click)="modalService.openSignInModal()") Sign in to Contact the Seller
                                            .advert-preview__btn.advert-preview__btn--inline(*ngIf="advert?.owner != userService.currentUser?.id && userService.currentUser")
                                                button.wbtn.wbtn--blue.wbtn--small((click)="modalService.openContactSellerModal(userService.currentUser?.id, advert?.owner,advert.id)") Contact Seller

