doctype html
- var x = 'test'
.page__meta
    .page__meta-item
        .breadcrumb
            .breadcrumb__item
                a.breadcrumb__inner-item.active([routerLink]="['/']") Account
            .breadcrumb__item
                span.breadcrumb__inner-item >
                    //i.fa.fa-long-arrow-right
                span.breadcrumb__inner-item Alerts


    .page__meta-item.page__meta-item--colored
        .row
            .col-4
                .page__meta-title Alerts
            .col-8.text-right
                button.obtn.obtn--blue((click)="openAlertModal()") Create New Alert
    .page__meta-item.text-right(*ngIf="pager.pages && pager.pages?.length")
        ul.pagination__list
            li.pagination__item([ngClass]="{disabled:pager.currentPage === 1}", (click)="setPage(1)") First
            li.pagination__item([ngClass]="{disabled:pager.currentPage === 1}", (click)="setPage(pager.currentPage - 1)") Previous
            li.pagination__item(*ngFor="let page of pager.pages", [ngClass]="{active:pager.currentPage === page}", (click)="setPage(page)") {{page}}
            li.pagination__item([ngClass]="{disabled:pager.currentPage === pager.totalPages}", (click)="setPage(pager.currentPage + 1)") Next
            li.pagination__item([ngClass]="{disabled:pager.currentPage === pager.totalPages}", (click)="setPage(pager.totalPages)") Last
.alerts-table
    preloader-component([showStatus]="preloader")
    ngb-alert(type="info",*ngIf="alerts?.length < 1", [dismissible]="false") You do not have any alerts
    table.wtable.fixed-sm-table(*ngIf="alerts?.length > 0")
        thead.wtable__head
            tr.wtable__row.text-center
                th.wtable__th Manufacturer
                th.wtable__th  Model
                th.wtable__th  Created
                th.wtable__th.text-right  Action
        tbody.wtable__body
            tr.wtable__row(*ngFor="let alert of alerts")
                td.wtable__sell {{alert?.machine?.manufacturer_name}}
                td.wtable__sell {{alert?.machine?.model_name}}
                td.wtable__sell {{alert?.created_at| date: 'dd/MM/yyyy'}}
                td.wtable__sell.text-right
                    button.obtn.obtn--blue(type="button", (click)="deleteAlert(alert.id)") Delete Alert
                    //i.fa.fa-times.wtable__action((click)="changeAlertIsShowDeletePopover(alert)", title="delete advert")
                    //remove-alert([id]='alert.id', *ngIf='alert.isShowDeletePopover')
.pagination
    ul.pagination__list(*ngIf="pager.pages && pager.pages?.length")
        li.pagination__item([ngClass]="{disabled:pager.currentPage === 1}", (click)="setPage(1)") First
        li.pagination__item([ngClass]="{disabled:pager.currentPage === 1}", (click)="setPage(pager.currentPage - 1)") Previous
        li.pagination__item(*ngFor="let page of pager.pages", [ngClass]="{active:pager.currentPage === page}", (click)="setPage(page)") {{page}}
        li.pagination__item([ngClass]="{disabled:pager.currentPage === pager.totalPages}", (click)="setPage(pager.currentPage + 1)") Next
        li.pagination__item([ngClass]="{disabled:pager.currentPage === pager.totalPages}", (click)="setPage(pager.totalPages)") Last

